*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.container{
    height: 100vh;
    width: 100%;
    /* background: wheat; */

}
.sidebar{
    height: 90vh;
    width: 250px;
    background-color:black;
    /* justify-content: center; */
    /* align-items: center; */
    float: left;
    color: white;
}
.logo{
    border: solid 2px white;
    padding: 4px;
    display: flex;
    align-items: center;
}
.logo img{
    /* display: flex; */
    float: left;

}.logo h3{
    border: 4px blue;
}
.icons{
    margin: 15px 20px;
}
.icons a{
    display: flex;
    gap: 20px;
    padding: 10px;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.64);
    text-transform: capitalize;
}
.icons a:hover{
    color: white;
}
li a.active{
color: white;
}
.extra{
    /* border: 2px solid blue; */
    height: 30vh;
    width: 220px;
    margin: 18px 20px;
    margin-top: 170px;
    align-items: center;
    bottom: 0;
}
.text,p{
   color: rgba(255, 255, 255, 0.649);
   align-items: center;
   padding:  5px;
   line-height: 32px;
   /* font-size: 15px; */
   display: inline-block;
   text-transform: capitalize;

}
.btn{
    padding: 0px 15px;
    margin:  16px 35px;
    /* width: 70px; */
    border-radius: 25px;
    background: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.522);
}
.btn i{
    padding: 7px;
}

.box{
    float: left;
    /* top: 0; */
    /* position:relative; */
    width: 80%;
    height: 80vh;
    background-color: yellow;
}
.navbar{
    margin-left: 200px;
    width: 86.4%;
    height: 40px;
    /* float: right; */
    position: absolute;
    top: 0;
    background-color: rgb(55, 45, 45);
}
.footer{
    /* margin-left: 200px; */
    width: 100%;
    height: 40px;
    clear: both;
    /* float: right; */
    /* position: absolute; */
    /* top: 0; */
    background-color: red;
}